{% include 'logtemplate.html' %}
{% block head %}
{% endblock %}
{% block mainbody %}
    <div class="container-fluid p-0">
        <div class="row pt-5 w-100 m-0">
            {% if post %}
                {% for i in post %}
                    <div class="col-11 col-md-7 m-auto my-3 rounded-4 shadow bg-light bg-gradient m-auto text-dark py-2 px-4">
                        <div class="d-flex">
                            <p class="fs-4 m-0 "><i class="bi bi-person-fill"></i></p>
                            <p class="fs-6 m-0 my-auto text-capitalize ms-2"><a href="/{{i.id}}" class="text-decoration-none text-dark " style="font-size:1.2em;">{{i.name}}</a></p>
                            <p class="fs-6 m-0 mt-2 mx-2 text-secondary" style="font-size:0.8em;">{{i.created_at.strftime('%d %b, %y')}}</p>
                        </div>
                        <hr class="my-1">
                        <p class="fs-2 pt-1 fw-bold text-capitalize mb-2">{{i.title}}</p>
                        <p class="fs-4 text-secondary">{{i.content}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center col-12 p-0">
                    <p class="mt-5 pt-5 fw-bold fs-4 p-0">No Post</p>
                </div>
            {% endif%}
        </div>
    </div>
{% endblock %}