{% include 'template.html' %}
{% block head %}
    <style>
        .input-title{
            border: 0px;
            outline: 0px;
        }

        .content-start:empty:not(:focus):before{
            content:attr(data-text)
        }

        .content-start:empty:focus:before{
            content:attr(data-text)
        }

        .context-menu {
            position: absolute;
            text-align: center;
            background: white;
            border: 2px solid black;
        }
  
        .context-menu ul {
            padding: 0px;
            margin: 0px;
            min-width: 150px;
            list-style: none;
        }
        .context-menu ul li button{
            border: 0;
        }
        
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid mt-5">
        <div class="row shadow fixed-top bg-light">
            <div class="col-12 col-md-8 m-auto ">
                <nav class="navbar navbar-expand-lg bg-gradient d-flex justify-content-between">
                    <a class="navbar-brand fw-bold fs-4 text-dark ps-2" href="/">DAILY BLOG</a>
                    <div class="d-flex pe-2">
                        <button type="button" onclick="post()" id="post-btn" class="btn border-0 fs-4 fw-bold">
                            <i class="bi bi-journal-check"></i>
                        </button>
                        <a class="btn fw-bold border border-0 fs-4" data-bs-toggle="tooltip" data-bs-title="Profile" data-bs-placement="bottom" href="/@{{user.id}}">
                            <i class="bi bi-person-fill"></i>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row py-3" id="newpost">
            <div class="col-12 col-md-8 col-xl-6 m-auto mt-md-4">
                <div class="mb-3 post">
                    <input type="text" class="input-title w-100 p-2 fs-3 " id="title" placeholder="Title" autofocus>
                </div>
                <div class="mb-3 post" id="content">
                    <div contenteditable=true class="input-title w-100 content content-start p-2 " data-text="Tell your idea...."></div>
                </div>
            </div>
        </div>
    </div>
    <div id="contextMenu" class="context-menu rounded-3" 
        style="display:none">
        <ul class="d-flex">
            <li><button class="btn btn-outline-dark rounded-3 "><i class="bi bi-type-bold"></i></button></li>
            <li><button class="btn btn-outline-dark rounded-3"><i class="bi bi-type-italic"></i></button></li>
            <li><button class="btn btn-outline-dark rounded-3"><i class="bi bi-type-underline"></i></button></li>
            <li><button class="btn btn-outline-dark rounded-3"><i class="bi bi-text-center"></i></button></li>
            <li><button class="btn btn-outline-dark rounded-3"><i class="bi bi-text-right"></i></button></li>
            <li><button class="btn btn-outline-dark rounded-3"><i class="bi bi-text-left"></i></button></li>
            <li><button class="btn btn-outline-dark rounded-3"><i class="bi bi-justify"></i></button></li>
        </ul>
    </div>
{% endblock %}
{% block tail %}
    <script>
        var post_btn = document.getElementById("post-btn");
        var title = document.getElementById("title");
        var content = document.getElementById("content");
        function post(){
            if (title.value == ""){
                const toastLiveExample = document.getElementById('livestatus')
                
                const toast = new bootstrap.Toast(toastLiveExample)
                toast.show()
                
                document.getElementById("resp-status").innerHTML = `
                    <div class="alert alert-danger d-flex m-0">
                        <div class="fs-5 ">Title is required</div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>`;
                return 0;
            }
            if (content.value == ""){
                document.getElementById("status").innerHTML = '<div class="text-secondary w-100 text-center py-3 fs-5">Content is required</div>';
                return 0;
            }
            document.getElementById("status").innerHTML = "";
            var data = {
                title : title.value,
                content : content.value,
                user : "{{user.id}}"
            };
            post_btn.setAttribute("disabled","true");
            title.setAttribute("readonly","true");
            content.setAttribute("readonly","true");
            superduper("POST","/api/post",JSON.stringify(data),"post_resp",null);
        
        }

        function post_resp(resp){
            resp = JSON.parse(resp);
            if(resp.result){
                window.location.replace("/{{user.id}}");
            }
            else{
                post_btn.removeAttribute("disabled","true");
                title.removeAttribute("readonly","true");
                content.removeAttribute("readonly","true");
            }

        }

        document.getElementById("newpost").onclick = hideMenu;
        document.getElementById("newpost").oncontextmenu = rightClick;
  
        function hideMenu() {
            document.getElementById(
                "contextMenu").style.display = "none"
        }
  
        function rightClick(e) {
            console.log(window.getSelection());
            e.preventDefault();
  
            if (document.getElementById(
                "contextMenu").style.display == "block")
                hideMenu();
            else {
                var menu = document
                    .getElementById("contextMenu")
                      
                menu.style.display = 'block';
                menu.style.left = e.pageX + "px";
                menu.style.top = e.pageY + "px";
            }
        }
    </script>
{% endblock %}