{% include 'logtemplate.html' %}
{% block head %}
    <style>
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row pt-5 w-100 m-0">
            <div class="col-11 col-md-7 m-auto my-3 rounded-4 shadow bg-light bg-gradient m-auto text-dark py-2 px-4">
                <div class="d-flex">
                    <p class="fs-4 m-0 "><i class="bi bi-person-fill"></i></p>
                    <p class="fs-6 m-0 my-auto text-capitalize ms-2"><a href="/{{post.user_id}}" class="text-decoration-none text-dark " style="font-size:1.2em;">{{user.name}}</a></p>
                    <p class="fs-6 m-0 mt-2 mx-2 text-secondary" style="font-size:0.8em;">{{post.created_at.strftime('%d %b, %y')}}</p>
                </div>
                <p class="fs-2 pt-1 fw-bold text-capitalize mb-2">{{post.title}}</p>
                <p class="fs-5 text-secondary">{{post.content}}</p>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block tail %}
{% endblock %}